.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ClockLink:hover {
  cursor: pointer;
  background-color: lightblue;
  box-shadow: 4px 3px #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-nav-bar {
display: flex;
position:sticky;
position: -webkit-sticky;
top: 0;
left: 0;
justify-content: space-between;
flex-direction: row;
background-color: #61dafb;
width: 100%;
}

.main-nav-bar img {
  height: 45px;
  padding: 10px 10px;
}

.main-nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 5em;
  align-items: center;
}

.link-item {
  text-decoration: none;
  padding: 0px 15px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
